* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4b4ef;
    padding: 2em;
}

.header-left {
    display: flex;
    align-items: center;
}

.fa-piggy-bank {
    font-size: 2em;
    margin-top: -0.2em;
}

#headerText {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
    padding-left: 0.3em;
}

#Btn {
    display: flex;
    gap: 10px;
}

#loginBtn, #createAccountBtn {
    width: 100px;
    height: 50px;
}

#loginPage {
    text-align: center;
    align-items: center;
    margin-top: 2em;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: italic;
}

#userName, #userPassword {
    margin-top: 1em;
}

#userNameText, #PasswordText {
    margin-top: 1em;
}

#BtnLoggaIn {
    margin-top: 1em;
    width: 70px;
    height: 40px;
}